body{
    font-family: "Gill Sans", sans-serif;
}
/*----------------------------------------------ENTÊTE----------------------------------------------*/
.header{
    margin-top: 30px;
    margin-left: -150px;
}
nav::after{
    
        content:'';
        height:2px;
        width:79%;
        background: rgba(158, 131, 131, 0.767);
        position:absolute;
        left:calc(21% - 10%);
        border-bottom:-5px;
        margin-top: 15px;

      

}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 1% ;
    color: black;
  
}
ul li a{
    color: rgba(158, 131, 131, 0.767);
    text-decoration: none;
    width: 100px ;
    height: 100px ;
    padding-top: 0px;
}
ul {
    padding-left: 30%;
    margin-top: -30px;
}


ul li a:hover{
    color: black;  
}

.logo_avatar{
    float: right;
    padding-right: 9%;
    padding-top: 0px;
    height: 50px;
    width: 50px;
}
.logo_sneakers{
    float: left;
    padding-left: 18%;
    padding-top:1% ;
    
 
}
.panier{
    padding-left: 59%;
    padding-top: 1%;
    
}

/* --------------------------------------------TEXT-------------------------------------------- */
.text{
    float: right;
    margin-top: 7%;
    margin-right: 16%;
    height: 500px;
    margin-bottom: 0%;
}
#text1{
    color:  hsl(26, 100%, 55%);
    font-size: 150%;
    font-weight: bold;
}
#text2{
    font-size: 250%;
    font-weight: bold;
   
}
#text3{
    color: rgba(158, 131, 131, 0.767);
    font-family: "Gill Sans", sans-serif;
}
.prix{
    display: flex;
}
.p1{
    font-size: 150%;
    font-weight: bold;
   height: 0%;
   width: 0%;
}
.p2{
 
    font-weight: bold;
    color:hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    height: 20px;
    width: 40px;
    margin-top: 6%;
    margin-left: 13%;
    padding-left: 3%;
    padding-right: -2%;
    padding-top: 1%;
    padding-bottom: 0%;
    border-radius: 17%;
 
    
}
.p3{
    text-decoration:  line-through ;
    color: rgba(158, 131, 131, 0.767);
    width: 50px;
    margin-bottom: 0%;
    padding-top:12% ;
  
}

.flex-centre {
    display: flex;
    align-items: center;
    margin-top: 6%;
    
  }

  
.bouton-add {
  background-color:#ee4e04;
  background-image: linear-gradient(#ee4e04 0, #e94a00 100%);
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 255px;
  
}
.bouton-add {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .bouton-add {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
.bouton-c-add{
    margin-left: 15px;

}
.img-add{
    height: 15px;
    width: 15px;
    font-weight: bold;
}
#counter {
    position: absolute;
    margin-top: 10px;
    margin-right: -30px;
    border-radius: 10px;
    min-width: auto;
    min-height: auto;
    padding: 1px;
    background-color: red;
    color: white;
  }
/* -- quantity box -- */

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;

 padding: 0 5px;
 text-align: center;
 background-color: transparent;

 margin-left: -10px;
 font-weight: bold;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top;
 width: 125px;
 height: 40px;
 background-color: rgb(228, 225, 215);
 border-radius: 9%;

}

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}


.quantity.buttons_added .plus {
 margin-top: -12px;
 margin-left: 40%;
 margin-right: 6px;

 cursor:pointer;
 width: 10px;
 height: 10px;
 float: right;
}
.quantity.buttons_added .minus{
    width: 10px;
    height: 4px;
    padding-top: 19px;
    margin-left: 9px;
}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none;
 }

 .input-text.qty.text{
   margin-top: 14px;
    height: 13px;
    width: 10px;
    margin-right: 53px;
    border: transparent;
 }
/* --------------------------------image-------------------------------- */
