
.header{
    margin-top: 30px;
    margin-left: -150px;
}
nav::after{
    
        content:'';
        height:2px;
        width:79%;
        background: rgba(158, 131, 131, 0.767);
        position:absolute;
        left:calc(21% - 10%);
        border-bottom:-5px;
        margin-top: 20px;

}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 1% ;
    color: black;

}
ul li a{
    color: rgba(158, 131, 131, 0.767);
    text-decoration: none;
    width: 100px ;
    height: 100px ;
}
ul {
    padding-left: 30%;
}

ul li a:hover{
    color: black;  
}

.logo_avatar{
    float: right;
    padding-right: 9%;
    padding-top: 0px;
    height: 50px;
    width: 50px;
}
.logo_sneakers{
    float: left;
    padding-left: 18%;
    padding-top: 10px;
 
}